body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: white;
  border-bottom: 1px solid #ddd;
}

button {
  margin-left: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding: 50px;
}

.left {
  width: 65%;
}

.right {
  width: 35%;
  padding-left: 40px;
}

.card {
  background: #8b1e2d;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}
